@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');
*{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}
a{
    color: white;
    text-decoration: none;

}
body{
    background-image: linear-gradient(to right, #01022d,#000);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container {
    background-image:
    linear-gradient(to right, #01022de5 30%,#00000088),
    url(sss.jpg);
    background-position:  center;
    width: 90%;
    height: 640px;
    
  }
  .container:hover{
    background-image:
    linear-gradient(to right, #01022de5 30%,transparent),
    url(ss.jpg);

  }
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  .logo{
    font-size: 30px;
    text-transform: uppercase;
    
  }
  ul{
    width: 60%;
    list-style: none;
    display: flex;
    justify-content:space-evenly;
  }
  ul a{
    border-bottom: 2px solid transparent;
  }
  ul a:hover{
    border-bottom-color: white;
  }
  .content{
    color: white;
    width: 67%;
    margin-top: 57px;
    padding: 30px;
  }
  .content h2{
    font-size: 50px;
    text-transform: uppercase;
  }
  .content p{
    letter-spacing: 2px;
    padding: 20px 1px;
    width:  350px;
  }
  .content button {
    font-size: 30px;
    padding: auto;
    border-radius: 10px;
    border: 2px solid transparent;
    cursor: pointer;

  }
  .content button:hover{
    background-color: transparent;
    border-color: white;
    color: white;
  }
  
  
